*{
    margin: 0;
}
body {
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    background-color: rgb(250, 249, 249); 
    line-height: 1.5; 
}
h1 {
    font-weight: 900;  
}
h2 {
    font-weight: 900;
}

.jumbotron, .btn {
    background-color: rgb(213, 189, 230);  
}

.skillLogo {
     
    margin: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;   
 }
 .fa-linkedin {
    color: #0077B5;
 }
 .fa-github {
     color: #211F1F;
 }

#profImg {
    width: auto;
    height: 200px;
    border-radius: 60px;
}

 #WozLogo {
     margin: 10px;
     width: auto;
     height: 200px;
 }
 #githubBtn, #linkedinBtn
 {
    background-color: rgb(250, 249, 249);
 }





