
body {
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    cursor:none;
    background-color: rgb(250, 249, 249);
}

.jumbotron {
    background-color: rgb(226, 219, 231);
    
}

h1 {
    font-weight: 900;
    
}

h2 {
    font-weight: 900;
}

#summaryContainer {
    font-weight: 400;
    background-color: rgb(226, 219, 231);
    width:100%;
}

#summaryCard {
    background-color: rgb(226, 219, 231);
    
}

#profImg {
    width: auto;
    height: 200px;
    border-radius: 60px;
}

 #tech {
    background-color: rgb(226, 219, 231);
     
     width:100%;
     
 }

 #kermaCard {
     background-color: rgb(226, 219, 231);
     
     width:100%;
 }

 .fa-linkedin {
    color: #0077B5;
 }
 .fa-github {
     color: #211F1F;
 }

 .footer {
    
 }

 .cursor {
     position: fixed;
     pointer-events: none;
     width: 50px;
     height: 50px;
     border: 1px solid #555151;
     border-radius: 50%;
     left: 0;
     top: 0;
     transform: translate(-50%, -50%);
     transition: .1s;
    
 }

 .cursor2 {
    position: absolute;
    pointer-events: none;
    width: 8px;
    height: 8px;
    background-color: #f70808;
    border-radius: 50%;
    left: 0;
    top: 0;
    transform: translate(-50%, -50%);
    
}




